$bannerFontColor: white;
$mainFontColor: #787878;
$mutedFontColor: #b5b5b5;
$mainColor: #8fcddc;
@mixin fontStyle($fontSize: 16px, $fontColor: black) {
    color: $fontColor;
    font-size: $fontSize;
}
@mixin flexMix($hor: center, $vert: center) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: row;
}
body {
    margin: 0;
}
.header {
    width: 100%;
    height: 56.88px;
    background: rgba(#9bd7e5, .31);
    padding: 0 128px;
    @include flexMix(space-between);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
}
.menu {
    height: 100%;
    width: 57px;
    background: rgba($bannerFontColor, .5);
    @include flexMix;
    position: relative;
    outline: none;
    .line {
        height: 6px;
        width: 37px;
        background: $bannerFontColor;
        position: relative;
        &::after {
            content: '';
            height: 6px;
            width: 37px;
            position: absolute;
            left: 0;
            top: 11px;
            background: $bannerFontColor;
        }
        &::before {
            content: '';
            height: 6px;
            width: 37px;
            position: absolute;
            left: 0;
            bottom: 11px;
            background: $bannerFontColor;
        }
    }
    .dropdown {
        position: absolute;
        width: 250px;
        height: 0;
        transition: .4s;
        background-color: $bannerFontColor;
        box-shadow: 0 0 10px 0 $mainFontColor;
        left: -255px;
        top: 60px;
    }
    &:focus {
        .dropdown {
            height: 300px;
        }
    }
}
.dropdown {
    overflow: hidden;
    ul {
        list-style: none;
        margin-left: 30px;
        @include fontStyle(18px, black)
    }
}
.banner {
    width: 100%;
    height: 482px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0 30px 150px;
    box-sizing: border-box;
    @include flexMix($vert: flex-end);
    .content {
        width: 100%;
        @include flexMix(space-between, flex-end);
        .info {
            width: 100%;
            padding-left: 100px;
            box-sizing: border-box;
            .info-content {
                width: 390px;
            }
            .title {
                @include fontStyle(27px, $bannerFontColor);
                text-align: center;
                display: block;
                padding: 0 40px;
                box-sizing: border-box;
                margin-bottom: 30px;
            }
            .search {
                width: 100%;
                height: 43px;
                position: relative;
                .search-input {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: none;
                    @include fontStyle(21.3px, $mainFontColor);
                    padding-left: 15px;
                    padding-right: 50px;
                    box-sizing: border-box;
                    &::placeholder {
                        color: rgba($mainFontColor, .5);
                    }
                }
                .search-icon {
                    position: absolute;
                    bottom: 8px;
                    right: 12px;
                }
            }
        }
    }
}
.footer {
    height: 44px;
    background-color: #484242;
    @include flexMix;
    @include fontStyle(17.3, rgba($bannerFontColor, .5));
}
@media screen and (max-width: 1000px) {
    .banner {
        height: 400px;
    }
    .categories {
        padding: 36px 80px 70px;
    }
}
@media screen and (max-width: 830px) {
    .banner {
        height: 350px;
        padding: 0 30px 70px;
    }
    .categories {
        padding: 20px 70px 20px;
    }
}
@media screen and (max-width: 730px) {
    .header {
        padding: 0 20px;
    }
    .banner {
        height: 350px;
        padding: 0 30px 70px;
        .content {
            .info {
                padding: 0 30px;
                .info-content {
                    width: 100%;
                }
            }
        }
    }
    .categories {
        padding: 20px 70px 20px;
        .items {
            flex-wrap: wrap;
            .list {
                margin-bottom: 40px;
            }
        }
    }
    .register {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        .register-button {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 460px) {
    .banner {
        .content {
            .arrow {
                display: none;
            }
            .info {
                padding: 0;
                .title {
                    padding: 0;
                }
            }
        }
    }
    .register {
        .register-text {
            text-align: center;
        }
    }
}



